nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 200px;
}
.icons,.pages__links{ 
    display: flex;
    align-items: center;
}
.pages__links li, .toogle-theme{
    padding: 4px 10px;
    border-radius: 50%;
    height: 35px; 
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pages__links li:hover, .toogle-theme:hover{
    background-color: black;
    color: white;
    transition: 0.8s;
}

@media (max-width:1286px)  {
    nav{
        padding: 15px 150px; 
    }
}

@media (max-width:980px)  {
    nav{
        padding: 15px 50px; 
    }
}

@media (max-width:690px)  {
    .cards-list{
        grid-template-columns: 1fr;
    }
}
@media (max-width:508px)  {
    nav{
        padding: 15px 15px;
    }
}